<div class="host" tabindex="-1" ti-transclude-append>
  <div class="tags ui input-pretender" ng-class="{focus: hasFocus}">
    <div class="tag-item ui label" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }">
      <span ng-bind="getDisplayText(tag)"></span>
      <i class="remove-button delete icon" ng-click="tagList.remove($index)"></i>
    </div>
    <input class="input"
           ng-model="newTag.text"
           ng-change="newTagChange()"
           ng-trim="false"
           ng-class="{'invalid-tag': newTag.invalid}"
           ti-bind-attrs="{placeholder: options.placeholder, tabindex: options.tabindex}"
           ti-autosize>
  </div>
</div>